@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/MullerBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "Muller", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.site-container {
  overflow: hidden;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1440px;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  text-align: center;
}

.main-link {
  border-radius: 5px;
  padding: 25px 77px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  background-color: #3C55D1;
  transition: background-color 0.3s, color 0.3s;
}

.header {
  position: absolute;
  width: 100%;
}
.header__container {
  position: relative;
  z-index: 20;
  padding-top: 46px;
  padding-bottom: 46px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.nav__item + .nav__item {
  margin-left: 44px;
}
.nav__link {
  position: relative;
  color: #3e74ff;
  transition: color 0.3s;
}
.nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s;
}
.nav__link:hover {
  color: white;
  transition: color 0.3s;
}
.nav__link:hover::before {
  width: 100%;
  transition: width 0.3s;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #E5E5E5;
  background-image: url("../img/video-cover.avif");
  background-image: -webkit-image-set(url("../img/video-cover.avif") type("image/avif"), url("../img/video-cover.webp") type("image/webp"), url("../img/video-cover.png"));
  background-image: image-set(url("../img/video-cover.avif") type("image/avif"), url("../img/video-cover.webp") type("image/webp"), url("../img/video-cover.png"));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.video__media {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
}

.hero {
  position: relative;
  padding-top: 116px;
  padding-bottom: 80px;
}
.hero__container {
  position: relative;
  z-index: 20;
}
.hero__content {
  display: flex;
  margin-bottom: 30px;
}
.hero__left {
  flex-basis: 50%;
}
.hero__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  padding-top: 50px;
}
.hero__item {
  display: flex;
  flex-direction: column;
}
.hero__item + .hero__item {
  margin-top: 30px;
}
.hero__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  background: linear-gradient(135.3deg, #3E74FF 2.51%, #779DFF 97.02%);
}
.hero__caption {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #fff;
}
.hero__descr {
  margin: 0;
  max-width: 60%;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
.hero__link:hover {
  background-color: #3E74FF;
  transition: background-color 0.3s;
}
.hero__link:active {
  background-color: #0a4cf6;
  transition: background-color 0.3s;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.safety {
  align-items: flex-end;
}
.safety .hero__descr {
  text-align: right;
}

.structure {
  padding-top: 80px;
  padding-bottom: 50px;
  background: linear-gradient(107.56deg, #3E74FF 0%, #3C55D1 100%);
}
.structure__title {
  margin-bottom: 80px;
}
.structure__content {
  display: flex;
  margin-bottom: 50px;
}
.structure__left {
  flex-basis: 33.33%;
}
.structure__left-item:nth-child(1) {
  align-items: flex-end;
}
.structure__left-item:nth-child(2) {
  align-items: center;
}
.structure__left-item:nth-child(3) {
  align-items: flex-start;
}
.structure__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.structure__item + .structure__item {
  margin-top: 100px;
}
.structure__center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33.33%;
}
.structure__right {
  flex-basis: 33.33%;
}
.structure__right-item:nth-child(1) {
  align-items: flex-start;
}
.structure__right-item:nth-child(2) {
  align-items: center;
}
.structure__right-item:nth-child(3) {
  align-items: flex-end;
}
.structure__image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-bottom: 15px;
  width: 80px;
  height: 80px;
  background-color: #fff;
}
.structure__caption {
  display: inline-block;
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}
.structure__link {
  color: #3E74FF;
  background-color: #fff;
}
.structure__link:hover {
  background-color: #FFFFF0;
  transition: background-color 0.3s, color 0.3s;
}
.structure__link:active {
  background-color: #E1E1E1;
  transition: background-color 0.3s, color 0.3s;
}

.reviews {
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .reviews {
    padding-top: 50px;
  }
}
.reviews__container {
  position: relative;
}
.reviews__title {
  margin-bottom: 80px;
  color: #3E74FF;
}
@media (max-width: 768px) {
  .reviews__title {
    margin-bottom: 50px;
  }
}
.reviews__btn {
  width: 40px;
  height: 50px;
}
@media (max-width: 768px) {
  .reviews__btn {
    width: 35px;
    height: 45px;
  }
}
@media (max-width: 576px) {
  .reviews__btn {
    width: 30px;
    height: 35px;
  }
}
.reviews__icon {
  width: 100%;
  height: 100%;
}
.reviews__icon path {
  transition: fill-opacity 0.3s;
}
.reviews__icon:hover path {
  fill-opacity: 1;
  transition: fill-opacity 0.3s;
}
.reviews__buttons {
  display: flex;
  justify-content: center;
}
.reviews__prev {
  position: absolute;
  bottom: 22%;
  left: 10%;
  z-index: 10;
}
@media (max-width: 1100px) {
  .reviews__prev {
    left: 5%;
  }
}
@media (max-width: 1024px) {
  .reviews__prev {
    position: initial;
    margin-right: 150px;
  }
}
@media (max-width: 576px) {
  .reviews__prev {
    margin-right: 100px;
  }
}
.reviews__next {
  position: absolute;
  bottom: 22%;
  right: 10%;
  z-index: 10;
}
@media (max-width: 1100px) {
  .reviews__next {
    right: 5%;
  }
}
@media (max-width: 1024px) {
  .reviews__next {
    position: initial;
  }
}

.slider {
  width: 100%;
}
@media (max-width: 1024px) {
  .slider {
    margin-bottom: 30px;
  }
}
.slider-slide {
  display: flex;
  justify-content: center;
}
.slider-slide__content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 25px;
  width: 700px;
  min-height: 150px;
  background: #E5E5E5;
}
@media (max-width: 576px) {
  .slider-slide__content {
    padding: 15px;
  }
}
.slider-slide__image picture {
  display: flex;
}
@media (max-width: 600px) {
  .slider-slide__image picture {
    width: 125px;
    height: 125px;
  }
}
@media (max-width: 576px) {
  .slider-slide__image picture {
    width: 100px;
    height: 100px;
  }
}
.slider-slide__image {
  margin-right: 20px;
}
.slider-slide__title {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #313131;
}
@media (max-width: 768px) {
  .slider-slide__title {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 576px) {
  .slider-slide__title {
    font-size: 20px;
    line-height: 24px;
  }
}
.slider-slide__descr {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
@media (max-width: 576px) {
  .slider-slide__descr {
    font-size: 16px;
    line-height: 20px;
  }
}

.advantages {
  background: linear-gradient(107.56deg, #3E74FF 0%, #3C55D1 100%);
}
.advantages__container {
  position: relative;
  padding-bottom: 100px;
}
.advantages__content {
  display: flex;
  margin-bottom: 50px;
  padding-top: 150px;
}
.advantages__left {
  position: relative;
  flex-basis: 45%;
  z-index: 2;
}
.advantages__right {
  position: absolute;
  right: -206px;
  bottom: 0px;
}
.advantages__right picture {
  display: flex;
}
.advantages__item {
  display: flex;
  flex-direction: column;
}
.advantages__item + .advantages__item {
  margin-top: 70px;
}
.advantages__caption {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}
.advantages__descr {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}
.advantages__link {
  position: relative;
  z-index: 10;
  color: #3E74FF;
  background-color: #fff;
}
.advantages__link:hover {
  background-color: #FFFFF0;
  transition: background-color 0.3s, color 0.3s;
}
.advantages__link:active {
  background-color: #E1E1E1;
  transition: background-color 0.3s, color 0.3s;
}

.footer {
  padding-top: 80px;
  padding-bottom: 100px;
}
.footer__title {
  margin-bottom: 80px;
  color: #3E74FF;
}
.footer__content {
  display: flex;
  margin-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
.footer__left {
  flex-basis: 45%;
  margin-right: 50px;
}
.footer__right {
  display: flex;
  flex-basis: 55%;
}
.footer__right picture {
  margin-right: 40px;
}
.footer__price {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.footer__price-old {
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}
.footer__price-old:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 19px;
  width: 100%;
  height: 3px;
  background-color: #FF0000;
  transform: rotate(-8.92deg);
}
.footer__price-new {
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;
  color: #3E74FF;
  -webkit-animation: 12s linear 0s infinite price-scale;
          animation: 12s linear 0s infinite price-scale;
}
.footer__timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__timer-sale {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  color: #3E74FF;
}
.footer__timer-dots {
  font-weight: 700;
  font-size: 100px;
  line-height: 50px;
}
.footer__timer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 150px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 49.18%, rgba(255, 255, 255, 0.1) 49.19%, rgba(255, 255, 255, 0) 100%), linear-gradient(337.14deg, #000000 0%, #303030 100%);
  border-radius: 20px;
}
.footer__timer-box span {
  display: inline-block;
  min-width: 93px;
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.036861) 48.83%, rgba(0, 0, 0, 0.35) 48.84%, rgba(0, 0, 0, 0) 73.34%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@-webkit-keyframes price-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes price-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
.form {
  display: flex;
  flex-direction: column;
}
.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.form__group {
  position: relative;
}
.form__group + .form__group {
  margin-top: 60px;
}
.form__label {
  position: absolute;
  top: -24px;
  left: 2px;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  transition: top 0.3s, font-size 0.3s;
}
.form__input {
  position: relative;
  border: 1px solid #E1E1E1;
  outline: none;
  z-index: 10;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 20px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  background-color: #E1E1E1;
  transition: border-color 0.3s;
}
.form__input::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.form__input:-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.form__input::placeholder {
  transition: opacity 0.3s;
}
.form__input:focus, .form__input:active {
  border: 1px solid #3E74FF;
  transition: border-color 0.3s, top 0.3s, font-size 0.3s, opacity 0.3s;
}
.form__input:focus .form__input:not(:-moz-placeholder-shown) ~ .form__label, .form__input:active .form__input:not(:-moz-placeholder-shown) ~ .form__label {
  top: -28px;
  font-size: 14px;
  -moz-transition: top 0.3s, font-size 0.3s;
  transition: top 0.3s, font-size 0.3s;
}
.form__input:focus .form__input:not(:-ms-input-placeholder) ~ .form__label, .form__input:active .form__input:not(:-ms-input-placeholder) ~ .form__label {
  top: -28px;
  font-size: 14px;
  -ms-transition: top 0.3s, font-size 0.3s;
  transition: top 0.3s, font-size 0.3s;
}
.form__input:focus ~ .form__label, .form__input:focus .form__input:not(:placeholder-shown) ~ .form__label, .form__input:active ~ .form__label, .form__input:active .form__input:not(:placeholder-shown) ~ .form__label {
  top: -28px;
  font-size: 14px;
  transition: top 0.3s, font-size 0.3s;
}
.form__input:focus ~ .form__span::before, .form__input:active ~ .form__span::before {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}
.form__input:focus::-moz-placeholder, .form__input:active::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.form__input:focus:-ms-input-placeholder, .form__input:active:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.form__input:focus::placeholder, .form__input:active::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
.form__span {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.form__span::before {
  content: attr(data-text);
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.form__btn {
  margin-top: 60px;
  width: 100%;
}
.form__btn:hover {
  background-color: #3E74FF;
  transition: background-color 0.3s;
}
.form__btn:active {
  background-color: #0a4cf6;
  transition: background-color 0.3s;
}

.input-name {
  padding-right: 118px;
}/*# sourceMappingURL=style.css.map */