@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/MullerBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "Muller", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #000;

}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.site-container {
  overflow: hidden;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1440px;

  @media (max-width: 1024px) {
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  text-align: center;


}

.main-link {
  border-radius: 5px;
  padding: 25px 77px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  background-color: #3C55D1;
  transition: background-color .3s, color .3s;
}

.header {
  &__container {
    padding-top: 46px;
    padding-bottom: 46px;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    & + & {
      margin-left: 44px;
    }
  }

  &__link {
    color: rgba(#3E74FF, 0.5);
    transition: color .3s;

    &:hover {
      color: rgba(#3E74FF, 1);
      transition: color .3s;
    }
  }
}

.hero { 
  padding-bottom: 80px;

  &__content {
    display: flex;
    margin-bottom: 30px;
  }

  &__left {
    flex-basis: 50%;
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    padding-top: 50px;

  }

  &__item {
    display: flex;
    flex-direction: column;

    & + & {
      margin-top: 30px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    background: linear-gradient(135.3deg, #3E74FF 2.51%, #779DFF 97.02%);
  }

  &__caption {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
  }

  &__descr {
    margin: 0;
    max-width: 60%;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  &__link {
    &:hover {
      background-color: #3E74FF;
      transition: background-color .3s;
    }
  }
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.safety {
  align-items: flex-end;

  .hero__descr {
    text-align: right;
  }
}

.structure {
  padding-top: 80px;
  padding-bottom: 50px;
  background: linear-gradient(107.56deg, #3E74FF 0%, #3C55D1 100%);

  &__title {
    margin-bottom: 80px;
  }

  &__content {
    display: flex;
    margin-bottom: 50px;
  }

  &__left {
    flex-basis: 33.33%;

    &-item {
      &:nth-child(1) {
        align-items: flex-end
      }

      &:nth-child(2) {
        align-items: center;
      }

      &:nth-child(3) {
        align-items: flex-start;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;


    & + & {
      margin-top: 100px;
    }
  }

  &__center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 33.33%;

  }

  &__right {
    flex-basis: 33.33%;

    &-item {
      &:nth-child(1) {
        align-items: flex-start;
      }

      &:nth-child(2) {
        align-items: center;
      }

      &:nth-child(3) {
        align-items: flex-end;
      }
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 15px;
    width: 80px;
    height: 80px;
    background-color: #fff;
  }

  &__caption {
    display: inline-block;
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
  }

  &__link {
    color: #3E74FF;
    background-color: #fff;

    &:hover {
      background-color:  #FFFFF0;
      transition: background-color .3s, color .3s;
    }
  }
}

.reviews {
  padding-top: 80px;
  padding-bottom: 100px;

  @media (max-width: 768px) {
    padding-top: 50px;
  }

  &__container {
    position: relative; 
  }

  &__title {
    margin-bottom: 80px;
    color: #3E74FF;

    @media (max-width: 768px) {
      margin-bottom: 50px;
    }
  }

  &__btn {
    width: 40px;
    height: 50px;

    @media (max-width: 768px) {
      width: 35px;
      height: 45px;
    }
    
    @media (max-width: 576px) {
      width: 30px;
      height: 35px;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;

    path {
      transition: fill-opacity .3s;
    }

    &:hover {
      path {
        fill-opacity: 1;
        transition: fill-opacity .3s;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__prev {
    position: absolute;
    bottom: 22%;
    left: 10%;
    z-index: 10;

    @media (max-width: 1100px) {
      left: 5%;
    }

    @media (max-width: 1024px) {
      position: initial;
      margin-right: 150px;
    }

    @media (max-width: 576px) {
      margin-right: 100px;
    }
  }

  &__next {
    position: absolute;
    bottom: 22%;
    right: 10%;
    z-index: 10;

    @media (max-width: 1100px) {
      right: 5%;
    }

    @media (max-width: 1024px) {
      position: initial;
    }
  }
}

.slider {
  width: 100%;

  @media (max-width: 1024px) {
    margin-bottom: 30px;
  }

  &-slide {
    display: flex;
    justify-content: center;

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      padding: 25px;
      width: 700px;
      min-height: 150px;
      background: #E5E5E5;

      @media (max-width: 576px) {
        padding: 15px;
      }
    }

    &__image {
      picture {
        display: flex;

        @media (max-width: 600px) {
          width: 125px;
          height: 125px;
        }

        @media (max-width: 576px) {
          width: 100px;
          height: 100px;
        }
      }
    }

    &__image {
      margin-right: 20px;
    }

    &__title {
      display: inline-block;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      color: #313131;

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 28px;
      }

      @media (max-width: 576px) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    &__descr {
      margin: 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;

      @media (max-width: 576px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

.advantages {
  background: linear-gradient(107.56deg, #3E74FF 0%, #3C55D1 100%);

  &__container {
    position: relative;
    padding-bottom: 100px;

  }

  &__content {
    display: flex;
    margin-bottom: 50px;
    padding-top: 150px;
  }

  &__left {
    position: relative;
    flex-basis: 45%;
    z-index: 2;
  }

  &__right {
    position: absolute;
    right: -206px;
    bottom: 0px;

    picture {
      display: flex;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    & + & {
      margin-top: 70px;
    }
  }

  &__caption {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
  }

  &__descr {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
  }

  &__link {
    position: relative;
    z-index: 10;
    color: #3E74FF;
    background-color: #fff;

    &:hover {
      background-color:  #FFFFF0;
      transition: background-color .3s, color .3s;
    }
  }
}

.footer {
  padding-top: 80px;
  padding-bottom: 100px;

  &__title {
    margin-bottom: 80px;
    color: #3E74FF;
  }

  &__content {
    display: flex;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }

  &__left {
    flex-basis: 45%;
    margin-right: 50px;
  }

  &__right {
    display: flex;
    flex-basis: 55%;

    picture {
      margin-right: 40px;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    &-old {
      position: relative;
      display: inline-block;
      width: fit-content;
      margin-bottom: 15px;
      font-size: 32px;
      line-height: 36px;
      color: rgba(#000, 0.5);

      &:before {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 19px;
        width: 100%;
        height: 3px;
        background-color: #FF0000;
        transform: rotate(-8.92deg);
      }
    }

    &-new {
      font-weight: 700;
      font-size: 96px;
      line-height: 116px;
      color: #3E74FF;
      animation: 12s linear 0s infinite price-scale ;
    }
  }

  &__timer {
    display: flex;
    justify-content: center;
    align-items: center;

    &-dots {
      font-weight: 700;
      font-size: 100px;
      line-height: 50px;
    }

    &-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 110px;
      height: 150px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 49.18%, rgba(255, 255, 255, 0.1) 49.19%, rgba(255, 255, 255, 0) 100%), linear-gradient(337.14deg, #000000 0%, #303030 100%);
      border-radius: 20px;

      span {
        display: inline-block;
        min-width: 93px;
        font-weight: 700;
        font-size: 70px;
        line-height: 70px;
        text-align: center;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.036861) 48.83%, rgba(0, 0, 0, 0.35) 48.84%, rgba(0, 0, 0, 0) 73.34%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }
}

@keyframes price-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}


.form {
  display: flex;
  flex-direction: column;

  &__group {
    position: relative;

    & + & {
      margin-top: 60px;
    }
  }

  &__label {
    position: absolute;
    top: -24px;
    left: 2px;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    transition: top .3s, font-size .3s;
  }

  &__input {
    position: relative;
    border: 1px solid #E1E1E1;
    outline: none;
    z-index: 10;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 20px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: #E1E1E1;
    transition: border-color .3s;

    &::placeholder {
      transition: opacity .3s;
    }
    
    &:focus,
    &:active {
      border: 1px solid #3E74FF;
      transition: border-color .3s, top .3s, font-size .3s, opacity .3s;

      & ~ .form__label, .form__input:not(:placeholder-shown) ~ .form__label {
        top: -28px;
        font-size: 14px;
        transition: top .3s, font-size .3s
      }

      & ~ .form__span {
        &::before {
          opacity: 1;
          visibility: visible;
        }
      }

      &::placeholder {
        opacity: 0;
        transition: opacity .3s;
      }
    }
  }

  &__span {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s, visibility .3s;

    &::before {
      content: attr(data-text);
      position: absolute;
      top: 10px;
      right: 15px;
      z-index: 20;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s, visibility .3s;
    }
  }

  &__btn {
    margin-top: 60px;
    &:hover {
      background-color: #3E74FF;
      transition: background-color .3s;
    }
  }
}

